<p>
    <mat-form-field appearance="fill">
      <mat-label>Código-Postal</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="codPostal">
    </mat-form-field>
  </p>
<p>
<mat-form-field appearance="fill">
    <mat-label>Localidade</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="localidade">
</mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="rua">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Numero</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="numero">
    </mat-form-field>
</p>