<h2>Motoristas</h2>

<div>
  <button type="button" class="add-button">
    <a routerLink="/motoristas/create">
        Criar Motorista
    </a>>
  </button>
</div>

<ul class="motoristas">
  <li *ngFor="let motorista of motoristas">
    <a routerLink="/motoristas/{{motorista._id}}">
      <span class="badge">{{motorista.nif}}</span>
      <span class="badge">{{motorista.nome}}</span>
    </a>
    <button type="button" class="delete" title="delete motorista"
      (click)="delete(motorista)">
    </button>
  </li>
</ul>
