
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
<mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
        <form>
            <app-pedido-create-form></app-pedido-create-form>
            <button mat-fab extended matStepperNext (click)="complete1stStep()">
                <mat-icon>add</mat-icon>
                Registar Motorista
            </button>
        </form>
    </form>
</mat-step>
<mat-step [stepControl]="secondFormGroup">
    <div>
        <h2>Estamos à procura de um Motorista para si</h2>
        <h3>Aguarde uns momentos</h3>
        <mat-spinner></mat-spinner>
        <button mat-button matStepperPrevious>Back</button>
        <h2>
            This next button should be invisible and should be called 
            when the motorista clicks on "accept, after that it shows the next step"
        </h2>
        <button mat-button matStepperNext>Next</button>
    </div>
</mat-step>
<mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h2>O Motorista em</h2>
    <!--componente motorista em questão-->
    <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
</mat-step>
</mat-stepper>