:host{
    width: 50%;
}


mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#ndFormWrapper {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mat-spinner {
    margin: 10%;
}
#abortButton {
    background-color: rgb(206, 8, 8);
}