
<mat-card>
    <div id="step1">
        <form [formGroup]="firstFormGroup">
            <app-pedido-create-form #pedidoForm></app-pedido-create-form>
            <button mat-fab extended  (click)="complete1stStep()" [disabled]="!isFirstStepValid">
                <mat-icon>local_taxi</mat-icon>
                Chamar um Taxi
            </button>        
        </form>
    </div>
    <div id="step2" style="display: none;">
        <form [formGroup]="secondFormGroup">
            <div>
                <h2>Estamos à procura de um Motorista para si</h2>
                <h3>Aguarde uns momentos</h3>
                <mat-spinner></mat-spinner>
                <button mat-button >Back</button>
                <h2>
                    This next button should be invisible and should be called 
                    when the motorista clicks on "accept, after that it shows the next step"
                </h2>
                <button mat-button >Next</button>
            </div>
        </form>
    </div>
    <div id="step3" style="display: none;">
        <ng-template >Done</ng-template>
        <h2>O Motorista em</h2>
        <div>
        <button mat-button >Back</button>
        </div>
    </div>
</mat-card>