<div id="estatisticas-create-wrapper">
  <h2 class= "header"> {{categoria | uppercase}} DE: {{entidade | uppercase}}</h2>

  <h4>Visualizar:</h4>
  <mat-radio-group aria-label="Escolher tipo de visualizacao:">
      <mat-radio-button value="viagens" (change)="updateDisplayedColumnsResumo('Número de Viagens')" [checked]="categoria === 'Número de Viagens' ? true : null">Número de Viagens</mat-radio-button>
      <mat-radio-button value="horas" (change)="updateDisplayedColumnsResumo('Horas de Viagens')" [checked]="categoria === 'Horas de Viagens' ? true : null">Horas de Viagem</mat-radio-button>
      <mat-radio-button value="quilometros" (change)="updateDisplayedColumnsResumo('Quilómetros Percorridos')" [checked]="categoria === 'Quilómetros Percorridos' ? true : null">Quilómetros Percorridos</mat-radio-button>
  </mat-radio-group>
      <div class="confirmation-buttons">
      <button mat-fab extended (click)="goBack()">
        <mat-icon fontIcon="&#8617;"></mat-icon>
        Voltar
      </button>
    </div>
<table mat-table [dataSource]="resumoViagens" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedResumoColumns">
      <th mat-header-cell *matHeaderCellDef> {{columnNameConvertResumo(column)}} </th>
      <td mat-cell *matCellDef="let element" (click)="showDetailsViagem(element)"> {{cellDataFromResumo(element, column)}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedResumoColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedResumoColumns;"></tr>
</table>
</div>

<!--
<section class="example-section">
  <ng-container *ngFor="let col of displayedColumns">
  <p><mat-checkbox (change)="addOrRemove($event)" value={{col}} checked="true">{{columnNameConvert(col)}}</mat-checkbox></p>
</ng-container>
</section>
<table mat-table [dataSource]="viagens" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{columnNameConvert(column)}} </th>
      <td mat-cell *matCellDef="let element"> {{cellDataFrom(element, column)}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
-->
