<mat-list *ngIf="motorista">
        <mat-list-item>  
            <h1>{motorista.nome | uppercase}</h1>
        </mat-list-item>
    <mat-divider></mat-divider>
        <mat-list-item>
            <h2>Dados Pessoais</h2>
            <mat-list role="list">
                <mat-list-item role="listitem">NIF : {motorista.nif}</mat-list-item>
                <mat-list-item role="listitem">Género: {motorista.genero}</mat-list-item>
                <mat-list-item role="listitem">Ano de Nascimento: {motorista.anoDeNascimento}</mat-list-item>
                <mat-list-item role="listitem">Carta de Condução: {motorista.cartaDeConducao}</mat-list-item>
                <mat-list-item role="listitem">Morada: {motorista.morada}</mat-list-item>
              </mat-list>
        </mat-list-item>
    <mat-divider></mat-divider>
        <mat-list-item>
            <h2>Últimas corridas</h2>
            (As últimas corridas são colocadas aqui, e mostram as avaliações de cada utilizador)         
        </mat-list-item>
</mat-list>
