.map-container {
    width: 96%; /* or a specific width like 600px */
    height: 70%;
    padding-left: 2%;
    padding-right: 2%;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-wrapper span{
    font-size: 16px;
    font-weight: 600;
    padding-top: 1%;
    margin-left: 2%;
    width: 100%;
}

mat-form-field {
    width: 80%;
}


@media (max-width: 715px) {
    #submission-button {
        width:80%;
        margin-left: 10%;
    }
    .map-container{
        height:60%
    }
}