<h2>Motoristas</h2>

<mat-divider></mat-divider>

<mat-divider></mat-divider>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let motorista of motoristas">
    <a routerLink="/motoristas/{{motorista._id}}">
      <span class="badge">{{motorista.nif}}</span>
      <span class="badge">{{motorista.nome}}</span>
    </a>
    <button mat-raised-button class="delete" type="button" title="delete motorista" (click)="delete(motorista)">x</button>
  </mat-list-item>
</mat-list>

<button type="button" class="add-button">
  <a routerLink="create">
      Inscrever Motorista
  </a>>
</button>

<!--OLD LIST 


    <button mat-raised-button (click)="delete(motorista)">
    <a routerLink="/motoristas/create">
      Criar Motorista
    </a>
  </button>

  <ul class="motoristas">
  <li *ngFor="let motorista of motoristas">
    <a routerLink="/motoristas/{{motorista._id}}">
      <span class="badge">{{motorista.nif}}</span>
      <span class="badge">{{motorista.nome}}</span>
    </a>
    <button type="button" class="delete" title="delete motorista"
      (click)="delete(motorista)">
    </button>
  </li>
</ul> -->
