<div id="taxi-create-wrapper">
    <h2 id="header" class="header">Registar um taxi </h2>
    <form [formGroup]="taxiForm" (ngSubmit)="onSubmit()">
        <mat-grid-list cols="2" rowHeight="1:2">
            <mat-grid-tile>
                <div class="form-container">
                    <p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Marca</mat-label>
                            <input type="text" placeholder="Escolha uma marca" aria-label="Marca" matInput
                                [formControl]="marcaControl" [matAutocomplete]="auto" (blur)="updateModelos()">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of (filteredOptionsMarcas | async)" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="marcaControl.value">A marca tem de ter entre 2 e 64 caracteres</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="fill">
                            <mat-label>Modelo</mat-label>
                            <input type="text" placeholder="Escolha um modelo" aria-label="Modelo" matInput
                                [formControl]="modeloControl" [matAutocomplete]="auto2">
                            <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option *ngFor="let option2 of (filteredOptionsModelos | async)" [value]="option2">
                                    {{option2}}
                                </mat-option>
                            </mat-autocomplete>

                            <!--<mat-select [(ngModel)]="modelo" formControlName="modelo" [(ngModel)]="modelo">
                                <mat-option *ngFor="let option of optionsModelos" [value]="option">{{option}}</mat-option>
                            </mat-select>-->

                            <mat-error *ngIf="modeloControl.value">O modelo tem de ter entre 2 e 64 caracteres</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Conforto</mat-label>
                            <mat-select formControlName="conforto" [(ngModel)]="conforto" placeholder="Conforto">
                                <mat-option *ngFor="let gen of confortos" [value]="gen">
                                    {{ gen }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="taxiForm.value.conforto">O conforto tem de ter ser básico ou luxuoso</mat-error>
                        </mat-form-field>
                    </p>

                </div>

            </mat-grid-tile>
            <mat-grid-tile>
                <div class="form-container">
                    <p>
                        <mat-form-field>
                            <mat-label>Data de Compra</mat-label>
                            <input matInput type="date" formControlName="anoDeCompra" [(ngModel)]="anoDeCompra">
                            <!--<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="taxiForm.value.anoDeCompra">A data tem de ser depois de 1900 e antes de hoje</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Matrícula</mat-label>
                            <input matInput placeholder="11-AA-11" formControlName="matricula" [(ngModel)]="matricula" (input)="duplicateMatricula = false">
                            <mat-error *ngIf="taxiForm.value.matricula">A matrícula tem de ter válida e única</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                          <mat-label>Lugares</mat-label>
                          <input type="number" matInput placeholder="Ex. 5" formControlName="lugares" [(ngModel)]="lugares">
                        </mat-form-field>
                    </p>
                    <div class="confirmation-buttons">
                        <button mat-fab extended (click)="goBack()">
                            <mat-icon fontIcon="&#8617;"></mat-icon>
                            Voltar
                        </button>

                        <button id="register-button" mat-fab extended type="submit" [disabled]="!taxiForm.valid">
                            Registar
                            <mat-icon>person_add</mat-icon>
                        </button>
                        
                        <ng-content select="[action-button]"></ng-content>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>