<mat-card appearance="outlined">
    <mat-card-content *ngIf="motorista">
        <h2>{{ motorista.nome | uppercase }}</h2>

        <mat-divider></mat-divider>

        <mat-list role="list">
            <h3>Dados Pessoais</h3>
            <mat-list-item role="listitem">NIF : {{ motorista.nif }}</mat-list-item>
            <mat-list-item role="listitem">Género: {{ motorista.genero }}</mat-list-item>
            <mat-list-item role="listitem">Ano de Nascimento: {{ datePipe.transform(motorista.anoDeNascimento, "dd-MM-yyyy") }}</mat-list-item>
            <mat-list-item role="listitem">Carta de Condução: {{ motorista.cartaDeConducao }}</mat-list-item>
            <br>
            <h4>Morada de {{motorista.nome}}</h4>
            <mat-list-item role="listitem">Rua: {{ motorista.morada.rua }}</mat-list-item>
            <mat-list-item role="listitem">Localidade: {{ motorista.morada.localidade }}</mat-list-item>
            <mat-list-item role="listitem">Número da Porta: {{ motorista.morada.numeroDePorta }}</mat-list-item>
            <mat-list-item role="listitem">Código Postal: {{ motorista.morada.codigoPostal }}</mat-list-item>            
            
        </mat-list>

        <mat-card-actions>
            <button class="motorista-detail-buttons" mat-fab extended (click)="goBack()">
                <mat-icon fontIcon="&#8617;"></mat-icon>
                Voltar
            </button>

            <button class="motorista-detail-buttons" mat-fab extended (click)="save()" disabled>
                Atualizar
            </button>
        </mat-card-actions>

        <mat-divider></mat-divider>

        <mat-list>
            <h3>Serviços Recentes</h3>
            <mat-list-item>
                TO DO        
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
