#motorista-create-wrapper {
    margin-left: 20%; /* Center the wrapper horizontally */
    margin-right: 20%;
    margin-bottom: 10%;
}



.header {
    margin: 0 auto; /* Center the header horizontally */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center the text inside the header */
    font-weight: bold; /* Make the header bold */
    margin-bottom: 16px; /* Add spacing below the header */
    width: 100%; /* Ensure the header spans the full width */
}

mat-grid-list {
    width: 100%; /* Ensure the grid list spans the full width of the container */
}

.form-container {
    height: 100%;
}

.morada-container {
    display: flex;
    height: 100%; /* Ensure it takes the full height of the grid tile */
    flex-direction: column;
    align-items: center;
}
    
#submit-button {
    align-self: flex-end; /* Align the button at the bottom */
    background-color: lightblue;
}