<mat-list>
    <mat-list-item>  
        <h1>Criar Motorista</h1>
    </mat-list-item>
<mat-divider></mat-divider>
    <mat-list-item>
        <h2>Dados Pessoais</h2>
        <mat-list role="list">
            <mat-list-item role="listitem">NIF : {{nif}}</mat-list-item>
            <mat-list-item role="listitem">Género: {{genero}}</mat-list-item>
            <mat-list-item role="listitem">Ano de Nascimento: {{anoDeNascimento}}</mat-list-item>
            <mat-list-item role="listitem">Carta de Condução: {{cartaDeConducao}}</mat-list-item>
            <mat-list-item role="listitem">Morada: {{morada}}</mat-list-item>
          </mat-list>
    </mat-list-item>
<mat-divider></mat-divider>
    <mat-list-item>
        <h2>Últimas corridas</h2>
        (As últimas corridas são colocadas aqui, e mostram as avaliações de cada utilizador)         
    </mat-list-item>
</mat-list>

