<div class="motorista-viagem-wrapper">
    
  <h2 class="header">Viagem</h2>
  <mat-grid-list cols="1" rowHeight="1:2">
    <mat-grid-tile>
      <div ngIf="iniciar" class="form-container">
        <form [formGroup]="viagemForm" (ngSubmit)="onViagemInit()">

          <p id="duration">{{duration * 1000 * 60 | date: 'HH:mm'}}</p>

          <div class="confirmation-buttons">
            <button mat-fab extended (click)="goBack()">
              <mat-icon fontIcon="&#8617;"></mat-icon>
              Cancelar
            </button>
        
            <button mat-fab extended type="submit" [disabled]="!viagemForm.valid">
              Iniciar Viagem
              <mat-icon fontIcon="&#xf5e4;"></mat-icon>
            </button>
          </div>
        </form>
      </div>
      <div ngIf="!iniciar" class="form-container">
        <form [formGroup]="viagemFinalForm" (ngSubmit)="onViagemStop()">

          <p id="duration">{{duration * 1000 * 60 | date: 'HH:mm'}}</p>

          <div class="confirmation-buttons">
            <button mat-fab extended (click)="goBack()">
              <mat-icon fontIcon="&#8617;"></mat-icon>
              Cancelar
            </button>
        
            <button mat-fab extended type="submit" [disabled]="!viagemFinalForm.valid">
              Finalizar Viagem
              <mat-icon fontIcon="&#xf5e4;"></mat-icon>
            </button>
          </div>
        </form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>