.demo-table {
    width: 80%;
}
    
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}
  
table {
    width: 80%;
}

.mat-elevation-z8 {
    margin: 16px 0;
}