 
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Morada De Column -->
    <ng-container matColumnDef="moradaDe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> De </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.moradaDe.localidade}}, {{pedido.moradaDe.rua}} </td>
    </ng-container>
    
    <!-- Morada Para Column -->
    <ng-container matColumnDef="moradaPara">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Para </th>
        <td mat-cell *matCellDef="let pedido">{{pedido.moradaPara.localidade}}, {{pedido.moradaPara.rua}} </td>
    </ng-container>
      
    <!-- numDePassageiros Column-->
    <ng-container matColumnDef="numDePassageiros">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Passageiros </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.numDePassageiros}} </td>
    </ng-container>
    
    <ng-container matColumnDef="luxuoso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> luxuoso </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.luxuoso}} </td>
    </ng-container>

    <!-- distância-->
    <ng-container matColumnDef="distância">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Distância </th>
        <td mat-cell *matCellDef="let pedido">
          <ng-container *ngIf="distancias.get(pedido._id) !== undefined; else loading">
            {{ distancias.get(pedido._id) | number:'1.1-2' }} km
          </ng-container>
          <ng-template #loading>
            <mat-spinner diameter="20"></mat-spinner>
          </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
      <!--(click)="showMotoristaDetail(row)"--> 
</table>  